
<!DOCTYPE html>

<html>
<head>
    
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Bootstrap/style.css" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap.min.js" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap.bundle.js" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap.js" rel="stylesheet" />
    
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:52320/Homepage">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:52320/News">News</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:52320/Login">Log In<span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
            
        </div>
    </nav>


        <form class="login" method="post">
            <div style="position:absolute;z-index:1;" id="layer1">
                <div class="modal-body" style="margin:50px 100px 0px 200px;">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="form-group">
                                <label for="LoginId" class="control-label">User Id</label>
                                <input type="text" class="form-control" placeholder="User ID" name="LoginId" title="Enter your username" required />
                                <span class="help-block">
                                </span>

                            </div>

                            <div class="form-group">
                                <label for="Password" class="control-label">Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="Password" title="Enter your Password" required />
                                <span class="help-block">
                                </span>
                            </div>
                            
                                <button type="submit" class="btn btn-success btn btn-block">Log In</button>
                            <a href="/Login/ForgetPass" target="contentFrame">Forget Password</a>
                            
                        </div>
                        
                    </div>
                </div>

            </div>




        </form>
    
                
   




</body>
</html>
