<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form method="post" class="login" enctype="multipart/form-data">
        
        <input type="text" name="FirstName" placeholder="First Name" />
        <input type="text" name="LastName" placeholder="Last Name" />
        <input type="email" name="Email" placeholder="Email" />
        <input type="text" name="Budget" placeholder="Budget" />
        <input type="text" name="Address" placeholder="Address" />
        <input type="text" name="MobileNo" placeholder="Mobile Number" />
        <input type="date" name="DOB" placeholder="Date Of Birth" />
        <input type="text" name="NationalId" placeholder="National Identity Or Passport" />
        <input type="password" name="Password" placeholder="Password" />
        <input type="password" name="ConfirmPassword" placeholder="confirm Password" />

        <input type="file" name="file1" id="file1" accept="image/*" />
        <input type="submit" class="btn btn-success btn-sm" />
    </form>
</body>
</html>
